@import url('./reset.css');
@import url('./globalStyles.css');

header {
    font-family: var(--font-primary);
    width: 100%;
    border-bottom: 2px solid var(--brand-1, #4C6EF5);
    background: var(--gray-1, #191C1F);
    justify-content: space-between;
    padding: 20px 236px;
}

.button_enter {
    color: var(--gray-7);
    background-color: var(--gray-1);
    border: 1px solid var(--gray-7, #F8F9FA);
    height: 60px;
    padding: 20px 32px;
    gap: 10px;
}

.banner {
    font-family: var(--font-primary);
    background: var(--gray-2);
    color: var(--gray-6);
    font-size: var(--font-size-title1);
    display: flex;
    width: 100%;
    padding: 250px 236px;
    flex-direction: column;
    align-items: center;
    gap: 44px;
}

span {
    color: var(--brand-1);
}

.texto_banner{
    color: var(--gray-4);
    text-align: center;
    font-size: var(--font-size-text1);
}

.button_aboutUs{
    border: 1px solid var(--brand-1);
    background: var(--brand-1);
    color: var(--gray-7);
    padding: 20px 32px;
    align-items: center;
    font-size: var(--font-size-text3);
}

.div_aboutUs{
    background-color: var(--gray-1);
    color: var(--gray-6);
    font-family: var(--font-primary);
    font-size: var(--font-size-title2);
    display: flex;
    padding: 82px 236px;
    align-items: center;
    gap: 56px;
    justify-content: space-between;
    line-height: 160%;
    font-weight: 600;
}

.aboutUs_text{
    font-family: var(--font-primary);
    font-size: var(--font-size-text1);
    color: var(--gray-5);
    line-height: 150%;
    font-weight: 400;
}

.faq_section{
    border: 4px solid red;

    background-color: var(--gray-2);
    color: var(--gray-6);
    display: flex;
    padding: 82px 236px;
    align-items: flex-start;
    gap: 56px;
}

.questions_faq{
    font-family: var(--font-primary);
    color: var(--gray-6);
    display: flex;
    padding-right: 82px 236;
    align-items: flex-start;
    gap: 56px;
}

.div_faq{
    display: flex;
    width: 620px;
    align-items: flex-start;
    flex-direction: column;
    padding-right: 87px;
    gap: 33px;

}

.faq_title{
    font-size: var(--font-size-title2);
    line-height: 160%;
    font-weight: 600;
}

.faq_text{
    color: var(--gray-4);
    font-size: var(--font-size-text1);
    line-height: 150%;
    font-weight: 400;
}

.button_nextClass{
    
}